# -------------------
# Backend API
# -------------------
DATABASE_URL=postgres://postgres:postgres@postgres:5432/omb
LOG_LEVEL=info

# -------------------
# Collector
# -------------------
BACKEND_URL=http://backend:3000
STORAGE_ENDPOINT=http://minio:9000
STORAGE_BUCKET=omb-photos
STORAGE_KEY=minioadmin
STORAGE_SECRET=minioadmin
LOG_LEVEL=info

# -------------------
# Frontend
# -------------------
ORIGIN=https://onemillionbeers.app  # Required by adapter-node in production
PORT=3001
